@keyframes pulse-default {
    0%, 100% { box-shadow: 0 0 0 0 #023e8a; }
    50% { box-shadow: 0 0 0 15px rgba(34, 197, 94, 0); }
  }
  @keyframes pulse-glow {
    0%, 100% {
      box-shadow: 
        0 0 20px rgba(6, 182, 212, 0.5),
        0 0 0 0 rgba(197, 34, 34, 0.7);
    }
    50% {
      box-shadow: 
        0 0 40px rgba(6, 182, 212, 0.8)
        0 0 0 20px rgba(34, 197, 94, 0);
    }
  }@keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  @font-face{
    font-family: 'SharkParty';
    src: url('fonts/shark\ party.ttf') format('truetype');
  }
body{
  background: #042538;
  background: linear-gradient(0deg, rgba(4, 37, 56, 0.89) 0%, rgba(18, 135, 181, 1) 51%, rgba(114, 206, 242, 0.8) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
 cursor:url(img/890f2ba64d.webp) auto;
}
h1 {
  font-family: 'SharkParty', sans-serif;
  font-size: 60px;
  color: #0077b6;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  z-index: 2;
}
a{
  text-decoration: none;
}
.inicio {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: visible; 
  margin-top: 30vw;
}
#titulo {
  margin-top: 20px;
  z-index: 2;
  position: relative;
}
#tituloEn-us {
  font-family: 'SharkParty', sans-serif;
  color: white;
  margin-top: -50px;
}
#explore {
  height: 15vw;
  width: 30vw;
  border-radius: 50px;
  cursor: pointer;  
  padding: 10px;
  margin-bottom: 50px;
  animation: pulse-default 2s infinite;
  background-color: red;
}
#explore a{
  text-decoration: none;
  color: white;
}
#explore:hover{
  filter: brightness(90%);
}
#tartaruga{
  width: 45%;
  position: relative;
  margin-top: -20vw;
  z-index: 5;
  cursor: pointer;
} 
#areia-fundo {
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  max-width: 1920px; 
  pointer-events: none; 
  z-index: 1; 
}
.bolhas{
position: fixed;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
z-index: -1;
}
.bolhas span {
  position: absolute;
  bottom: -150px;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  animation: subir 10s infinite;
}
.bolhas span:nth-child(1) {
  left: 10%;
  width: 30px;
  height: 30px;
  animation-duration: 8s;
}
.bolhas span:nth-child(2) {
  left: 25%;
  width: 20px;
  height: 20px;
  animation-duration: 12s;
}

.bolhas span:nth-child(3) {
  left: 40%;
  width: 25px;
  height: 25px;
  animation-duration: 10s;
}

.bolhas span:nth-child(4) {
  left: 55%;
  width: 35px;
  height: 35px;
  animation-duration: 14s;
}

.bolhas span:nth-child(5) {
  left: 70%;
  width: 15px;
  height: 15px;
  animation-duration: 14s;
}

.bolhas span:nth-child(6) {
  left: 85%;
  width: 40px;
  height: 40px;
  animation-duration: 13s;
}

.bolhas span:nth-child(7) {
  left: 50%;
  width: 18px;
  height: 18px;
  animation-duration: 11s;
}

.bolhas span:nth-child(8) {
  left: 90%;
  width: 22px;
  height: 22px;
  animation-duration: 15s;
}
.ods14-botao {
  display: inl#a8aab354;
  background: #b7b9c554; 
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px 25px;
  border-radius: 30px; 
  box-shadow: 0 0 8px rgba(255,255,255,0.2); 
  font-family: Arial, sans-serif;
  width: 50%;
  margin-top: 5vw;
  margin-bottom: 10vw;
}
@keyframes subir {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-110vh) scale(0.7);
    opacity: 0;
  }
}
.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow:
    0px 0px 20px hwb(203 28% 0% / 0.502),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

@media screen and (min-width: 1024px) and (max-width: 1400px){
  .inicio {
    text-align: center;
    margin-top: 15vh; 
    position: relative;
  }

  h1 {
    font-size: 70px; 
    line-height: 1.1em;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .ods14-botao {
    font-size: 20px;
    padding: 12px 25px;
    width: 40vw;
    margin-bottom: 3vh;
  }

  #explore {
    padding: 14px 28px;
    margin-top: 3vh;
  }
  #tartaruga {
    position: absolute;
    top: 50%;   
    left: 50%;  
    transform: translate(-95%, -70%); 
    width: 12%;  
    max-width: 230px;
    min-width: 160px;
    z-index: 1;
  }
}

@media screen and (min-width: 1800px) and (min-height: 900px) {
  h1 {
    font-size: 80px;
  }
  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 600px;       
    padding: 12px 30px;
    font-size: 20px;
    text-align: center;
  }
#tartaruga {
  width: 80%;
  max-width: 650px;
  display: block;
  margin: 20px auto;
  position: relative;
  z-index: 1; 
}
}
@media screen and (min-width: 1024px) and (min-height: 768px) {
  h1 {
    font-size: 80px;
  }
  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 600px;       
    padding: 12px 30px;
    font-size: 20px;
    text-align: center;
  }
#tartaruga {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-115%, -134%) rotate(-10deg); 
  max-width: 220px;
  min-width: 150px;
  z-index: 1;
}
}
@media screen and (min-width: 600px) and (min-height: 800px) {
  h1 {
    font-size: 80px;
  }
  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 600px;       
    padding: 12px 30px;
    font-size: 20px;
    text-align: center;
  }
#tartaruga {
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-115%, -134%) rotate(-10deg); 
  max-width: 220px;
  min-width: 150px;
  z-index: 1;
}

}

@media screen and (max-width: 599px) {

  h1 {
    font-size: 70px; 
  }

  #tartaruga {
    position: absolute;
    top: 110%;                     
    margin-left: -35%;
    transform: translate(-110%, -120%) rotate(-10deg);
    width: 35%;                   
    max-width: 160px;             
    min-width: 90px;            
    z-index: 1;                  
  }

  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 280px;        
    padding: 10px 20px;
    font-size: 16px;         
    text-align: center;
  }
}
@media screen and (width: 597px) and (height: 969px){

  h1 {
    font-size: 70px; 
  }

  #tartaruga {
    position: absolute;
    top: 134%;                     
    left: 79.8%;
    transform: translate(-110%, -120%) rotate(-10deg);
    width: 35%;                   
    max-width: 160px;             
    min-width: 90px;            
    z-index: 1;                  
  }

  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 280px;        
    padding: 10px 20px;
    font-size: 16px;         
    text-align: center;
  }
}
@media screen and (width: 390px) and (height: 844px){

  h1 {
    font-size: 70px; 
  }

  #tartaruga {
    position: absolute;
    top: 150%;                     
    left: 79.8%;
    transform: translate(-110%, -120%) rotate(-10deg);
    width: 35%;                   
    max-width: 160px;             
    min-width: 90px;            
    z-index: 1;                  
  }

  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 280px;        
    padding: 10px 20px;
    font-size: 16px;         
    text-align: center;
  }
}
@media screen and (max-width: 390px) and (max-height: 844px) {
  h1 {
    font-size: 70px; 
  }

  #tartaruga {
    position: absolute;
    top: 106.4%;                     
    left: 76.2%;
    transform: translate(-110%, -120%) rotate(-10deg);
    width: 40%;                   
    max-width: 160px;             
    min-width: 90px;            
    z-index: 1;                  
  }

  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 280px;        
    padding: 10px 20px;
    font-size: 16px;         
    text-align: center;
  }
}
@media screen and (max-width: 360px) and (max-height: 780px) {
  

  #tartaruga {
    position: absolute;
    top: 100.4%;                     
    left: 73.2%;
    transform: translate(-110%, -120%) rotate(-10deg);
    width: 40%;                   
    max-width: 160px;             
    min-width: 90px;            
    z-index: 1;                  
  }

  .ods14-botao {
    display: inline-block; 
    width: auto;             
    max-width: 280px;        
    padding: 10px 20px;
    font-size: 16px;         
    text-align: center;
  }
}
@media (min-width: 1100px) and (max-width: 1700px){
#tartaruga{
  margin-top: -3vw;
  margin-left: -4vw;
}
#tituloEn-us{
  margin: 0;
}
#explore {
  height: auto;
  width: auto;
  border-radius: 20px;
  cursor: pointer;  
  padding: 10px;
  margin-bottom: 50px;
  animation: pulse-default 2s infinite;
  background-color: red;
}
#explore a{
  text-decoration: none;
  color: white;
}
}
@media screen and (max-width: 850px) and (min-width: 760px){
  #tartaruga {
    margin-top: 5vw;
  }
  #tituloEn-us{
    font-size: 3vw;
  }
  #explore {
    height: 10vw;
    width: 20vw;
    border-radius: 40px;
    cursor: pointer;  
    padding: 10px;
    animation: pulse-default 2s infinite;
    background-color: red;
  }
  #explore a{
    text-decoration: none;
    color: white;
    font-size: 3vw;
  }
}